@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate90 {
  to {
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate90 {
  to {
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate90 {
  to {
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate90 {
  to {
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate90 {
  to {
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes scan {
  to {
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
  }
}
@keyframes scan {
  to {
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
  }
}
@keyframes scan {
  to {
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
  }
}
@keyframes scan {
  to {
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
  }
}
@keyframes scan {
  to {
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
    transform: translateY(101px);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse1 {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse1 {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse1 {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse1 {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse1 {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes pulse2 {
  0% {
    transform: translate(-10px, 30px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse2 {
  0% {
    transform: translate(-10px, 30px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse2 {
  0% {
    transform: translate(-10px, 30px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse2 {
  0% {
    transform: translate(-10px, 30px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse2 {
  0% {
    transform: translate(-10px, 30px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes pulse3 {
  0% {
    transform: translate(40px, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse3 {
  0% {
    transform: translate(40px, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse3 {
  0% {
    transform: translate(40px, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse3 {
  0% {
    transform: translate(40px, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse3 {
  0% {
    transform: translate(40px, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes show-top {
  0% {
    opacity: 0;
    transform: scale(0.2);
    top: 400px;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    top: 300px;
  }
}
@keyframes show-top {
  0% {
    opacity: 0;
    transform: scale(0.2);
    top: 400px;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    top: 300px;
  }
}
@keyframes show-top {
  0% {
    opacity: 0;
    transform: scale(0.2);
    top: 400px;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    top: 300px;
  }
}
@keyframes show-top {
  0% {
    opacity: 0;
    transform: scale(0.2);
    top: 400px;
  }

  100% {
    opacity: 1;
    transform: calc(1);
    top: 300px;
  }
}
@keyframes show-top {
  0% {
    opacity: 0;
    transform: scale(0.2);
    top: 400px;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    top: 300px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes click-egg {
  0%,
  10%,
  40%,
  60%,
  90%,
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%,
  45% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  55%,
  95% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  0%,
  10% {
    left: 1.4rem;
  }

  40%,
  60% {
    left: 3.3rem;
  }

  90%,
  100% {
    left: 5.4rem;
  }
}
@keyframes click-egg {
  0%,
  10%,
  40%,
  60%,
  90%,
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%,
  45% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  55%,
  95% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  0%,
  10% {
    left: 1.4rem;
  }

  40%,
  60% {
    left: 3.3rem;
  }

  90%,
  100% {
    left: 5.4rem;
  }
}
@keyframes click-egg {
  0%,
  10%,
  40%,
  60%,
  90%,
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%,
  45% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  55%,
  95% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  0%,
  10% {
    left: 1.4rem;
  }

  40%,
  60% {
    left: 3.3rem;
  }

  90%,
  100% {
    left: 5.4rem;
  }
}
@keyframes click-egg {
  0%,
  10%,
  40%,
  60%,
  90%,
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%,
  45% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  55%,
  95% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  0%,
  10% {
    left: 1.4rem;
  }

  40%,
  60% {
    left: 3.3rem;
  }

  90%,
  100% {
    left: 5.4rem;
  }
}
@keyframes click-egg {
  0%,
  10%,
  40%,
  60%,
  90%,
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%,
  45% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  55%,
  95% {
    transform: translate3d(0, -0.15rem, 0);
    transform: translate3d(0, -0.15rem, 0);
  }

  0%,
  10% {
    left: 1.4rem;
  }

  40%,
  60% {
    left: 3.3rem;
  }

  90%,
  100% {
    left: 5.4rem;
  }
}

.rotate {
  animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}

.click-egg {
  animation: click-egg 3s linear infinite alternate;
  animation: click-egg 3s linear infinite alternate;
  animation: click-egg 3s linear infinite alternate;
  animation: click-egg 3s linear infinite alternate;
  animation: click-egg 3s linear infinite alternate;
}

.bounce {
  animation: bounce 0.5s linear;
  animation: bounce 0.5s linear;
  animation: bounce 0.5s linear;
  animation: bounce 0.5s linear;
  animation: bounce 0.5s linear;
}

.rubber-band {
  animation: rubber-band 1.8s linear infinite;
  animation: rubber-band 1.8s linear infinite;
  animation: rubber-band 1.8s linear infinite;
  animation: rubber-band 1.8s linear infinite;
  animation: rubber-band 1.8s linear infinite;
}

.swing {
  animation: swing 1.8s linear infinite;
  animation: swing 1.8s linear infinite;
  animation: swing 1.8s linear infinite;
  animation: swing 1.8s linear infinite;
  animation: swing 1.8s linear infinite;
}

.flash {
  animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.pulse {
  animation: pulse 1.6s linear infinite;
  animation: pulse 1.6s linear infinite;
  animation: pulse 1.6s linear infinite;
  animation: pulse 1.6s linear infinite;
  animation: pulse 1.6s linear infinite;
}

.example {
  animation: pulse 1.6s linear forwards;
  animation-play-state: paused;
}
