/* Your app styles here */
html,
body {
  margin: 0;
  height: 100%;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
}
#app {
  width: 100%;
  /* min-width: 1200px; */
  margin: 0 auto;
}
.navbar {
  height: 60px !important;
  background: #293f61 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-navbar {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-flexbox;
  display: inline-block;
  -webkit-justify-content: unset;
  justify-content: unset;
}
.no-navbar .home-navbar, .no-navbar .navbar {
  display: none !important;
}
.navbar:after, .subnavbar:after {
  height: 0px !important;
}
.subnavbar {
  top: 60px !important;
}
input, textarea {
  background-color: white !important;
}
.md .list,
.ios .list {
  margin: 0;
}
.device-ios .page[data-name="home"] {
  left: 0 !important;
  width: 100% !important;
  right: unset !important;
}
.page {
  background: #efeff4 !important;
}
.page-current .title {
  text-align: center !important;
  width: 100%;
}
.page-content {
  padding-top: 60px !important;
}
.view ::-webkit-scrollbar {
  width: 8px;
}
.view ::-webkit-scrollbar-thumb {
  width: 8px;
  background: #cccccc;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cccccc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cccccc;
}
/* 通用样式 -----------------------------------------------*/
/* 请使用f7内置样式：color-blue bg|text-color-blue ..
 * no-margin no-padding padding-left.. no-padding-left,margin-left..no-margin-left..
 * text-align-(center|right) float-left width-100[表示width:100%]
 * display-(none|block|..) row -> col-5,10,15 ...
 */
.wd-40 {
  width: 40px;
}
.wd-80 {
  width: 80px !important;
}
.wd-100 {
  width: 100px;
}
.wd-200 {
  width: 200px !important;
}
.wd-300 {
  width: 300px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.nowrap {
  white-space: nowrap;
}
.text-center {
  text-align: center;
}
.default-color {
  color: #cccccc !important;
}
.no-border {
  border: none !important;
}
.hide {
  display: none !important;
}
.col14 {
  width: 7.14%;
}
.col20 {
  width: 20% !important;
}
.col25 {
  width: 25% !important;
}
.col33 {
  width: 33.333333% !important;
}
.col40 {
  width: 40% !important;
}
.col45 {
  width: 45% !important;
}
.col50 {
  width: 50% !important;
}
.col80 {
  width: 80% !important;
}

.color-blue {
  background: #5a82f0 !important;
  color: white;
  font-size: 14px !important;
  border: 0px solid white !important;
}
.my-color-blue {
  color: #5a82f0 !important;
}
.label-caution {
  line-height: 25px !important;
  padding: 10px 12px;
  color: #7587bd;
  background: #eef2fd;
}
/* 含多个操作按钮的层样式 --------------*/
.btn-container {
  display: block;
  overflow: hidden;
  min-height: 37px;
}
.btn-container .btn-item-container {
  min-width: 250px;
  min-height: 35px;
  float: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-item-container .table-btn {
  margin-right: 10px;
}
.btn-item-container > :last-child {
  margin-right: 0;
}
.btn-item-container label.checkbox {
  height: 40px;
}

/** 顶部菜单样式----------------------------------- */
.top-nav, .top-nav .sub ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-inline-start: 0;
}
.top-nav li {
  float: left;
  position: relative;
}
.top-nav li a {
  float: left;
  height: 60px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}
.top-nav a.home-menu {
  width: 110px;
  line-height: 60px;
  color: white;
  display: block;
}
.top-nav a.home-menu:hover {
  background: #20324d;
}
.top-nav .sub {
  position: absolute;
  top: 60px;
  left: 0;
  background: white;
  display: none;
  z-index: 1024;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.top-nav .sub li {
  width: 100%;
}
.top-nav .sub li a {
  float: none;
  text-indent: 0;
  height: auto;
  color: #000000;
  padding: 15px 0;
  display: block;
  width: 110px;
}
.top-nav .sub li a:hover {
  background: #dee6fc !important;
  background-position: 5px 12px;
}
.top-nav .menu-main-selected {
  background: #20324d !important;
  color: white !important;
}
.top-nav .menu-child-selected {
  background: #dee6fc !important;
}
#topnav {
  width: calc(100% - 560px);
  display: inline-flex;
  justify-content: center;
}
#topnav1 li .pks {
  font-size: 14px;
  padding-right: 5px;
  display: inline-flex;
  line-height: 60px;
}
#topnav1 li a {
  width: auto;
}
#topnav1 .sub li a {
  min-width: 180px;
}
#topnav1 .nickname {
  width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#topnav1 .pkname {
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 左侧菜单面板 */
.panel-menu {
  background: #293f61;
}
#topnavLeft ul {
  margin: 0;
  padding-inline-start: 0;
}
#topnavLeft li {
  list-style: none;
}
#topnavLeft .home-menu {
  padding: 10px 0;
  display: block;
}
#topnavLeft li a {
  color: white;
}
#topnavLeft .sub {
  display: block !important;
}
#topnavLeft .sub li a {
  line-height: 34px;
  padding-left: 30px;
  display: block;
}
#topnavLeft .sub li a.menu-child-selected {
  background: #5a82f0;
}

/* 其他样式--------------------------------------- */
.dialog {
  top: 35%;
}
.md .dialog-text {
  text-align: center;
  max-height: 250px;
  overflow-y: auto;
}
.md .dialog-title {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}
.md .dialog-title::after {
  position: absolute;
  content: "";
  top: 35px;
  left:calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: url("../img/jingshi.svg") center no-repeat;
  background-size: contain;
}
.md .dialog-buttons {
  padding: 12px;
  height: 60px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.md .dialog-button+.dialog-button {
  margin-left: 10px;
}
.md .dialog-buttons > .dialog-button {
  opacity: 0.9;
  color: #4a4a4a;
  border: 1px solid #cccccc;
  background-image: linear-gradient(-180deg, #ffffff 0%, #e6e6e6 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  width: 84px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}
.md .dialog-buttons > .dialog-button.dialog-button-bold {
  color: #ffffff;
  border-color: #5a82f0;
  background-image: linear-gradient(-180deg, #5a9ff0 0%, #5a82f0 100%);
  font-weight: normal;
}
.md .dialog-buttons > .dialog-button:hover, .md .dialog-buttons > .dialog-button:active {
  opacity: 1;
}

.input-item, .select-item {
  width: 160px;
  height: 44px !important;
  border: 1px solid #cccccc !important;
  background: white !important;
  padding: 5px !important;
  font-size: 14px !important	;
}
.select-item {
  width: 100px !important;
}
input.date-item {
  width: 200px !important;
  background: url("../img/data.svg") left center no-repeat !important;
  background-size: 20px 20px !important;
  background-position: 95% 50% !important;
  background-color: white !important;
}
.input-focused {
  border: 1px solid #5a82f0 !important;
}
.has-select {
  position: relative;
}
.has-select::after {
  display: block;
  z-index: 100;
  content: "";
  position: absolute;
  right: 10px !important;
  top: 50% !important;
  margin-top: -2px;
  left: auto !important;
  width: 0 !important;
  background-color: transparent  !important;
  border-top: 5px solid #9b9b9b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  /**  让点击事件穿透到下拉框 */
  pointer-events: none;
}
.div-input.has-select::after {
  right: 20px !important;
}
/* 隐藏ie下拉三角形 */
select::-ms-expand { 
  display: none; 
}
#ui-datepicker-div {
  z-index: 65536 !important;
}
.ui-widget-content.ui-autocomplete {
  z-index: 65535;
}

/* 主体内容样式--------------------------------------- */
.padding-base {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}
.base-container {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.base-container .current-menu {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cccccc;
}
.base-container .current-menu .before {
  color: #9b9b9b !important;
}
.base-container .current-menu div.title,
.base-container .current-menu div.info {
  font-size: 13px;
  color: #003400;
  line-height: 40px;
  height: 40px;
  float: left;
}
.base-container .current-menu div.title {
  width: 70px;
  text-align: left !important;
}

/** -----------------适配手机端样式----------*/
.card-infinite-content .current-menu, .card-infinite-content .search-container {
  margin:0 20px;
}
.card-infinite-content .table-container {
  margin-left: 20px;
  margin-right: 20px;
}
.phone-show {
  display: none;
}
/* ---表格和卡片列表样式样式 ----------------------------- */
.my-table-list {
  display: block;
}
.my-card-list, .my-card-preloader{
  display: none !important;
}
.my-card-list .card {
  box-shadow: none;
  margin:10px 0px;
}
.my-card-list .card-header .left {
  padding-left: 10px;
  position: relative;
  font-weight: bold;
  font-size: 16px;
}
.my-card-list .card-header:after {
  left: 20px;
  width: calc(100% - 40px);
  background-color: #e6e6e6;
}
.my-card-list .card-header .left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 4px;
  height: 17px;
  background: linear-gradient(0deg, #5A96F0 0%, #5A82F0 86%);
}
.my-card-list .card-content {
  padding: 10px 20px;
}
.my-card-list div.descrip {
  color: #666666;
  white-space: nowrap;
  text-align: left;
  width: 30% !important;
}
.my-card-list div.showtext {
  text-align: right;
  width: 70% !important;
}
.table-container {
  padding: 20px;
  background: white;
  display: block;
  overflow: hidden;
}
table th,
thead td {
  background: #f2f2f2;
  font-size: 14px;
  color: #000000 !important;
  font-weight: bold !important;
}
.data-table {
  margin-top: 20px;
  border: 1px solid #cccccc;
  overflow: hidden;
}
.data-table table {
  border-collapse: unset;
  border-spacing: 0;
}
.data-table th.label-cell,
.data-table td.label-cell {
  border-left: 1px solid #cccccc;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.data-table th.label-cell:first-child,
.data-table td.label-cell:first-child {
  border-left: 0px solid #cccccc;
}
.data-table td.label-cell {
  color: #4a4a4a !important;
}
.nodata > td {
  text-align: center;
  background: #ddd;
}
.table-td-btn {
  text-decoration: underline;
  color: #5a82f0 !important;
}
.blue-btn {
  color: #5a82f0 !important;
}
/* 表格内勾选框样式 */
.icon-checkbox, .checkbox i {
  border: 1px solid #cccccc !important;
}
input[type="checkbox"] ~ i {
  background: none;
}
input[type="checkbox"]:checked ~ i {
  background: #f5f5f5;
}
.checked-class {
  background: #2196f3 !important;
  border: #2196f3 !important;
}
.checkbox i:after {
  opacity: 1 !important;
}

/* 输入框样式 ------------------------------ */
.md .item-input-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.md .item-input-wrap.btn:after {
  height: 0px !important;
}
.md .input-clear-button {
  width: 20px;
  height: 20px;
}
.md .item-input-wrap .input-clear-button {
  bottom: auto;
  margin-right: 3px;
}
.item-input-wrap:after {
  height: 0px !important;
}
.md .list input[type="text"],
.md .list input[type="password"],
.md .list input[type="search"],
.md .list input[type="email"],
.md .list input[type="tel"],
.md .list input[type="url"],
.md .list input[type="date"],
.md .list input[type="datetime-local"],
.md .list input[type="time"],
.md .list input[type="number"] {
  padding-right: 20px !important;
}
.md .list .item-link .item-inner,
.md .links-list a {
  background: none;
}
.item-media {
  font-size: 14px;
  color: #4a4a4a !important;
}
.list .item-media + .item-inner {
  margin-left: 0px !important;
}
.list .item-content {
  padding-left: 0px !important;
  margin-left: 10px !important;
}
.list .item-inner {
  padding: 0 !important;
}
.list ul:before, .list ul:after {
  height: 0px !important;
}

/* 表格右上角数据合计样式 ------------------ */
.current-order-info-container .item,
.current-order-info-container .sub-info,
.current-order-info-container .item .sub-item-title {
  float: right;
  font-size: 14px;
  color: #4a4a4a;
}

/* 输入表单样式 ----------------------------------------*/
.form {
  width: 33.333%;
  float: left;
  display: block;
  overflow: hidden;
  margin-top: 2.5%;
}
.form-container, 
.form-item, 
.form .div-input > label, 
.form .div-scroll > label,
.form-scroll-custom > div:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.form-container {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px;
}
.form .div-label {
  width: 30%;
  float: left;
  display: block;
  overflow: hidden;
  height: 42px;
  line-height: 42px;
  text-align: right;
  font-size: 14px;
  color: #4a4a4a;
}
.form .div-label .info {
  padding-right: 10px;
}
.form .div-input {
  width: 70%;
  float: left;
  display: block;
  /* overflow: hidden; */
}
.form-item {
  overflow: hidden;
  margin-top: 2.5%;
  width: 33.33%;
}
.form-item .div-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
}
.form-item .div-input input,
.form-item .div-input select {
  padding-right: 30px !important;
  height: 36px;
  color: #212121;
  font-size: 16px;
  border: 1px solid #cccccc;
  padding-left: 10px !important;
  width: 100%;
}
.form-item .div-input-upload {
  padding-right: 10px;
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}
.form-item .div-input-upload input[type="file"] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.form-item .div-label {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 10px;
  line-height: 35px;
}
.form-scroll-custom {
  height: 320px;
}
.form-scroll-custom > div:nth-child(1) {
  height: 260px;
}
.form-scroll-custom > div.form-add-input {
  width: 70%;
  float: right;
  margin-top: 15px;
}
.form .div-scroll {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: left;
  display: block;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
}
.form .div-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.form .div-scroll::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.form .div-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.form .div-scroll > label {
  margin: 5px;
}
.form .div-input input, select {
  border: 1px solid #cccccc;
  padding-left: 10px !important;
  font-size: 14px;
}

/** 查询条件组件样式-------------------------- */
/* 头部查询条件样式 --------------------- */
.search-container {
  display: inline-block;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  z-index: 200;
  font-size: 12px;
}
.search-container ul li {
  float: left;
  min-height: 30px;
}
.search-container .item-media {
  font-size: 12px !important;
}
.search-container input, .search-container select {
  height: 32px !important;
  font-size: 12px !important;
  background-color: white !important;
}
.search-container.list .item-content {
  margin-left: 0px !important;
  margin-right: 10px !important;
}
.search-container .time-adon {
  border-bottom: 2px solid #CCCCCC;
  height: 1px;
  width: 10px;
  margin-top: 5px;
}

.search-row {
  margin-top: 5px !important;
}
.search-row > div {
  min-height: 35px;
  margin-top: 10px !important;
}
.search-row .div-label {
  line-height: 30px !important;
  height: 30px !important;
  font-size: 12px;
}
.search-row input, .search-row select {
  height: 32px !important;
  font-size: 12px !important;
  background-color: white !important;
  min-width: 100px !important;
}
.search-row .date-item {
  width: 100% !important;
}
.search-row .date-adon {
  margin-top: 8px;
  min-width: 20px;
}
/* 年份,月份日期选择组件 -------------------------------------------------*/
.filter-time-year .ui-datepicker-calendar,
.filter-time-year .ui-datepicker-month,
.filter-time-year .ui-datepicker-title .ui-datepicker-month,
.filter-time-month .ui-datepicker-calendar {
  display: none !important;
}
.filter-time-year .ui-datepicker-header .ui-datepicker-prev,
.filter-time-year .ui-datepicker-header .ui-datepicker-next,
.filter-time-month .ui-datepicker-header .ui-datepicker-prev,
.filter-time-month .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 28px;
  line-height: 28px;
}
.month-year-select .ui-datepicker-title,
.filter-time-year .ui-datepicker-title,
.filter-time-month .ui-datepicker-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.month-year-select .ui-datepicker-title select,
.filter-time-year .ui-datepicker-title select,
.filter-time-month .ui-datepicker-title select {
  border: 1px solid #c5c5c5 !important;
  padding: 0 4px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.month-year-select .ui-datepicker-title select.ui-datepicker-year,
.month-year-select .ui-datepicker-title select.ui-datepicker-month,
.filter-time-year .ui-datepicker-title select.ui-datepicker-year,
.filter-time-month .ui-datepicker-title select.ui-datepicker-month,
.filter-time-month .ui-datepicker-title select.ui-datepicker-year {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
}
.month-year-select .ui-datepicker-title .ui-datepicker-month,
.filter-time-month .ui-datepicker-title .ui-datepicker-month {
  margin-left: 10px;
}

/* 日期选择条件 ---- 年、月、日------------------------------------------*/
.searchPanel, .searchPanel > div:nth-child(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #4a4a4a;
}
.searchPanel > div:nth-child(1), .searchPanel .label-text {
  margin-top: 14px;
}
.searchPanel > div:nth-child(2) {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  line-height: 32px;
}
.searchPanel > div:nth-child(2) > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  line-height: 32px;
}
.searchPanel > div:nth-child(2) > label {
  margin-right: 10px;
  margin-top: 14px;
}
.searchPanel .filter-select-type, .searchPanel .filter-area {
  position: relative;
  margin-right: 10px;
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  min-width: 98px;
}
.searchPanel .filter-select-type,
.searchPanel .filter-area,
.searchPanel .filter-time-wrap,
.searchPanel .item-input-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.searchPanel .filter-select-type > select,
.searchPanel .filter-area > select,
.searchPanel .item-input-wrap > input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 32px;
  line-height: 32px;
  border: 0;
  outline: 0;
  padding: 0 30px 0 10px !important;
}
.searchPanel .filter-select-type > select, .searchPanel .filter-area > select {
  font-size: 14px;
  color: #4a4a4a;
  background: white;
}
.searchPanel .filter-select-type > select:focus, .searchPanel .filter-area > select:focus {
  border: 0;
  outline: 0;
}
.searchPanel .filter-time-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-top: 14px;
  position: relative;
}
.searchPanel .filter-time-wrap > input {
  font-size: 14px;
  color: #4a4a4a;
  height: 34px;
  line-height: 32px;
  padding: 0 30px 0 10px !important;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.searchPanel .item-input-wrap {
  position: relative;
  min-height: 32px;
  background: white;
}
.searchPanel .item-input-wrap > input {
  width: 160px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.searchPanel > div.button {
  margin-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 14px;
}

/**  统计图表上面的汇总卡片，带图标的 --------------------------------------------*/
.generalTotalRowCol.moreCol {
  padding: 0 18%;
}
.generalTotalRowCol .col, .generalTotalRowCol.moreCol .col {
  padding: 30px 0;
}
.generalTotalRowCol.moreCol .col {
  width: 50% !important;
}
.generalTotalRowCol .col > div {
  position: relative;
  padding-left: calc(50% + 10px);
  border-right: 2px solid #E6E6E6;
}
.generalTotalRowCol.moreCol .col > div {
  padding-left: calc(50% - 10px);
}
.generalTotalRowCol .col:last-of-type > div {
  border-right: none;
}
.generalTotalRowCol .col img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -65px;
}
.generalTotalRowCol.moreCol .col img {
  margin-left: -80px;
}


/* subnavbar */
.book-filter {
  width: 100%;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 48px;
  line-height: 47px;
  text-align: center;
  margin-bottom: -15px;
  padding-bottom: 14px;
}
.book-filter-item {
  color: #999;
  width: 10%;
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.book-filter-item.actived {
  color: #5a82f0;
  border-bottom: 1px solid #5a82f0;
}
/* 车位地锁控制样式 */
.board-item {
  width: 41%;
  max-width: 160px;
  border: 1px solid #5a82f0;
  margin-left: 5%;
  margin-top: 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  float: left;
  overflow: hidden;
}
.board-item-title {
  height: 50px;
  background: #e6e6e6;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  color: #666;
}
.board-item-btn {
  height: 30px;
  line-height: 30px;
  background: #5a82f0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.board-item-btn a {
  display: block;
  color: #fff;
}
.board-item-btn.unactive {
  background: #999;
}
.book-list-container .nodata, .special-list-container .nodata {
  width: 100%;
  text-align: center;
  color: #ddd;
  display: block;
  height: 100%;
  padding-top: 200px;
  font-size: 18px;
}


/* 车位监控页面 */
.top-div {
  width: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  z-index: 100000;
  background: #00003c;
}
.monitor-head {
  width: 1880px;
  height: 78px;
  margin-left: 20px;
  background: url('../img/monitor_head_line.png') 100% 100% no-repeat;
  background-position: center;
  background-size: contain;
}
.monitor-head > .row {
  width: 100%;
  height: 78px;
  margin-top: 2px;
  border: none;
  /* border-image: linear-gradient(0deg, #5A82F0, #5A82F0, #5A82F0, #5A82F0, #5A82F0) 10 10; */
  background: url('../img/monitor_bg_title.png') 100% 100% no-repeat;
  background-position: top;
}
.monitor-head > .row > .col-50 {
  width: calc(100% - 980px) !important;
  text-align: center;
  font-size: 40px;
  line-height: 72px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.monitor-head > .row > .col-25 {
  width: 490px !important;
  height: 100%;
}
.monitor-head > .row > .col-25:first-of-type {
  background: url('../img/monitor_bg_left.png') 100% 100% no-repeat;
  background-position: right;
}
.monitor-head > .row > .col-25:last-of-type {
  background: url('../img/monitor_bg_right.png') 100% 100% no-repeat;
  background-position: left;
}
.monitor-head .cur-time {
  text-align: center;
  width: 100%;
  margin-left: -20px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 400;
  color: #78A0FF;
}
/* 按钮样式 */
.opera-btns-row {
  line-height: 70px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #78A0FF;
}
.opera-btns-row .col {
  white-space: nowrap;
  position: relative;
  display: inline-flex;
}
.opera-btns-row .oprt-icon {
  width: 40px;
  height: 40px;
  background: #0050F0;
  border-radius: 20px;
  padding: 0;
  margin-top: 17px;
  cursor: pointer;
  margin-right: 10px;
}
.opera-btns-row .oprt-icon:hover {
  background: rgba(0, 80, 240, 0.6);
}
.opera-btns-row .oprt-icon:active {
  background:#0050F0;
}
.opera-btns-row .oprt-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.oprt-icon.scaleup::before {
  background: url('../img/icon_scaleup.png') center no-repeat;
}
.oprt-icon.scaledown::before {
  background: url('../img/icon_scaledown.png') center no-repeat;
}
.oprt-icon.move::before {
  background: url('../img/icon_move.png') center no-repeat;
}
.oprt-icon.screen::before {
  background: url('../img/icon_fullscreen.png') center no-repeat;
}

.all-statistics {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 180px;
  padding: 20px;
  background: #0028B4;
  transform-origin: 0 0;
}
.all-statistics > div {
  width:100%;
  border: 1px solid #5A82F0;
}
.all-statistics .title {
  height: 30px;
  line-height: 30px;
  color: #78A0FF;
}
.all-statistics .text {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
}
.all-statistics > div > .text {
  font-size: 36px;
  height: 50px;
  line-height: 40px;
}
.all-statistics > div > .row {
  padding: 10px;
  background: rgb(255,255,255,0.1);
}
.all-statistics > div > .row > .col {
  width: 50% !important;
  position: relative;
}
.all-statistics > div > .row > .col:first-of-type::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: 45px;
  width: 1px;
  background: #5A82F0;;
}
/* 地图上车位余位弹框信息 */
.amap-marker-content {
  height: 0;
}
.my-marker {
  transform: none;
}
.my-marker.hovered {
  transform: scale(1.1);
  transform-origin: 0 0;
}
.map-info-modal {
  position: relative;
  width:100%;
  border: 1px solid #000000;
  background: #000000;
  opacity: 0.8;
  height: 47px;
  display: inline-table;
}
.map-info-modal::after {
  content: "";
  position: absolute;
  top: 47px;
  left: calc(50% - 4px);
  width: 0 !important;
  background-color: transparent !important;
  border: 4px solid transparent;
  border-top: 8px solid #000000;
}
.map-info-modal > div:first-of-type {
  height: 24px;
  background: #FFFFFF;
  font-weight: bold;
}


/* === Treeview === */
:root {
  --f7-treeview-toggle-size: 24px;
  --f7-treeview-toggle-color: rgba(0, 0, 0, 0.5);
  --f7-treeview-toggle-hover-bg-color: rgba(0, 0, 0, 0.1);
  --f7-treeview-toggle-pressed-bg-color: rgba(0, 0, 0, 0.15);
  --f7-treeview-icon-color: rgba(0, 0, 0, 0.5);
  --f7-treeview-children-offset: 29px;
  --f7-treeview-label-font-weight: 400;
  --f7-treeview-label-text-color: inherit;
  --f7-treeview-selectable-hover-bg-color: rgba(0, 0, 0, 0.1);
  --f7-treeview-selectable-selected-bg-color: rgba(var(--f7-theme-color-rgb), 0.2);
  --f7-treeview-link-hover-bg-color: rgba(0, 0, 0, 0.1);
  --f7-treeview-link-pressed-bg-color: rgba(0, 0, 0, 0.15);
}
:root .theme-dark,
:root.theme-dark {
  --f7-treeview-toggle-color: rgba(255, 255, 255, 0.5);
  --f7-treeview-toggle-hover-bg-color: rgba(255, 255, 255, 0.03);
  --f7-treeview-toggle-pressed-bg-color: rgba(255, 255, 255, 0.1);
  --f7-treeview-icon-color: rgba(255, 255, 255, 0.75);
  --f7-treeview-selectable-hover-bg-color: rgba(255, 255, 255, 0.03);
  --f7-treeview-link-hover-bg-color: rgba(255, 255, 255, 0.03);
  --f7-treeview-link-pressed-bg-color: rgba(255, 255, 255, 0.11);
}
.ios {
  --f7-treeview-item-height: 34px;
  --f7-treeview-item-padding-left: 15px;
  --f7-treeview-item-padding-right: 15px;
  --f7-treeview-label-font-size: 17px;
  --f7-treeview-icon-size: 24px;
}
.md {
  --f7-treeview-item-height: 34px;
  --f7-treeview-item-padding-left: 16px;
  --f7-treeview-item-padding-right: 16px;
  --f7-treeview-label-font-size: 16px;
  --f7-treeview-icon-size: 24px;
}
.treeview-item-root {
  padding-left: var(--f7-treeview-item-padding-left);
  padding-right: var(--f7-treeview-item-padding-right);
  height: var(--f7-treeview-item-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.treeview-item-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.treeview-item-content > i,
.treeview-item-content > .f7-icons,
.treeview-item-content > .material-icons {
  width: var(--f7-treeview-icon-size);
  height: var(--f7-treeview-icon-size);
  font-size: var(--f7-treeview-icon-size);
  color: var(--f7-treeview-icon-color);
}
.treeview-item-content:first-child {
  margin-left: calc(var(--f7-treeview-toggle-size) + 5px);
}
.treeview-item-content > * + * {
  margin-left: 5px;
}
.treeview-item-label {
  font-size: var(--f7-treeview-label-font-size);
  font-weight: var(--f7-treeview-label-font-weight);
  color: var(--f7-treeview-label-text-color);
}
.treeview-toggle {
  width: var(--f7-treeview-toggle-size);
  height: var(--f7-treeview-toggle-size);
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 200ms;
  position: relative;
  margin-right: 5px;
}
.treeview-toggle.active-state {
  background-color: var(--f7-treeview-toggle-pressed-bg-color);
}
.treeview-toggle:after {
  transition-duration: 200ms;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: translate(-50%, -50%);
  border-left: 6px solid var(--f7-treeview-toggle-color);
}
.treeview-toggle-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.treeview-preloader {
  --f7-preloader-size: var(--f7-treeview-toggle-size);
  margin-right: calc(-1 * var(--f7-treeview-toggle-size));
}
.treeview-item-children {
  display: none;
}
.treeview-item-opened > .treeview-item-children {
  display: block;
}
.treeview-item-opened > .treeview-item-root .treeview-toggle:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
a.treeview-item-root {
  color: var(--f7-treeview-label-text-color);
}
.treeview-item-selectable > .treeview-item-root,
.treeview-item-selectable.treeview-item-root {
  cursor: pointer;
  transition-duration: 150ms;
}
a.treeview-item-root {
  transition-duration: 150ms;
}
a.treeview-item-root.active-state {
  background: var(--f7-treeview-link-pressed-bg-color);
}
.treeview-item-toggle > .treeview-item-root,
.treeview-item-toggle.treeview-item-root {
  cursor: pointer;
}
.treeview-item-selected > .treeview-item-root,
.treeview-item-selected.treeview-item-root {
  background: var(--f7-treeview-selectable-selected-bg-color, rgba(var(--f7-theme-color-rgb), 0.2));
}
.treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 1);
}
.treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 2);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 3);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 4);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 5);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 6);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 7);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 8);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 9);
}
.treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item .treeview-item-root {
  padding-left: calc(var(--f7-treeview-item-padding-left) + var(--f7-treeview-children-offset) * 10);
}
