/*   icons style --------------------------------------------- */
/* Material Icons Font (for MD theme) */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Framework7 Icons Font (for iOS theme) */
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}
.f7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}


/* 按钮样式 -----------------------------------------------  */
button[disabled], button[disabled]:hover {
  opacity: 0.6;
  pointer-events: none;
}
.table-btn {
  width: 100px !important;
  height: 34px !important;
  font-size: 16px;
  color: #5a82f0 !important;
  line-height: 34px !important;
  background-color: white !important;
  border: 1px solid #5a82f0 !important;
}
.button-search {
  background: #5a82f0 !important;
  color: white !important;
  height: 32px !important;
  line-height: 32px !important;
  width: 84px;
}
.button-blue-outline {
  height: 30px !important;
  line-height: 30px !important;
  width: 84px;
  background: white !important;
  color: #5a82f0 !important;
  border: 1px solid #5a82f0 !important;
}
.bt {
  width: 14%;
  max-width: 84px;
  min-width: 40px;
  padding: 0;
}
.export-btn.bt {
  margin-top: 14px;
  margin-left: 10px !important;
}
/* 弹出框底部确认按钮样式 */
.pop-submit-btn {
  width: 100px;
  height: 36px;
  line-height: 36px;
  background: #5a82f0;
  color: white;
  text-align: center;
  float: right;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
/* 弹出框底部取消按钮样式 */
.pop-cancel-btn {
  width: 100px;
  height: 36px;
  line-height: 36px;
  color: #9b9b9b !important;
  text-align: center;
  float: right;
  margin-right: 10px;
  font-size: 14px;
}
/** tab按钮切换样式 */
.operate-btns {
  min-width: 70%;
  width: auto !important;
}
.operate-btns .button {
  min-width: 80px;
  max-width: 150px;
  padding: 0;
  border-radius: 0 !important;
  border-right-width: 0 !important;
}
.operate-btns .button-fill {
  background-color: #5a82f0 !important;
}
.operate-btns .button:first-of-type {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}
.operate-btns .button:last-of-type {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-right-width: 1px !important;
}


/* 运营分析和概览 汇总卡片，饼图，折线图样式 --------------------------------------- */
.generalTotalPanel {
  background: white;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 20px auto 0;
  padding: 10px 20px 20px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.generalTotalPanel > div {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-image: -webkit-linear-gradient(320deg, #ffcb62 0%, #ff9b47 100%);
  background-image: linear-gradient(130deg, #ffcb62 0%, #ff9b47 100%);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 20px;
  max-width: 280px;
  min-width: 230px;
  margin-top: 10px;
  margin-left: 20px;
}
.generalTotalPanel > div:nth-child(2) {
  background-image: -webkit-linear-gradient(320deg, #54e8be 0%, #17b6aa 100%);
  background-image: linear-gradient(130deg, #54e8be 0%, #17b6aa 100%);
}
.generalTotalPanel > div:nth-child(2) > div:nth-child(1) {
  background: url("../img/gl_cwsyl.svg") no-repeat;
  background-size: 100% 100%;
}
.generalTotalPanel > div:nth-child(3) {
  background-image: -webkit-linear-gradient(320deg, #7a9bf5 0%, #4171f3 100%);
  background-image: linear-gradient(130deg, #7a9bf5 0%, #4171f3 100%);
}
.generalTotalPanel > div:nth-child(3) > div:nth-child(1) {
  background: url("../img/gl_cll.svg") no-repeat;
  background-size: 100% 100%;
}
.generalTotalPanel > div:nth-child(4) {
  background-image: -webkit-linear-gradient(320deg, #67D9EA 0%, #2FA1E7 100%);
  background-image: linear-gradient(130deg, #67D9EA 0%, #2FA1E7 100%);
}
.generalTotalPanel > div:nth-child(4) > div:nth-child(1) {
  background: url("../img/gl_zhl.svg") no-repeat;
  background-size: 100% 100%;
}
.generalTotalPanel > div > div:nth-child(1) {
  width: 50px;
  height: 50px;
  background: url("../img/gl_sr.svg") no-repeat;
  background-size: 100% 100%;
}
.generalTotalPanel > div > div:nth-child(2) {
  margin-left: 15px;
  width: calc(100% - 60px);
}
.generalTotalPanel > div > div:nth-child(2) > div:nth-child(1) {
  font-size: 14px;
  line-height: 15px;
  white-space: nowrap;
}
.generalTotalPanel > div > div:nth-child(2) > div:nth-child(2) {
  margin-top: 5px;
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;
}
.generalLinePanel, .generalPiesPanel {
  background: white;
  /* border: 1px solid #e6e6e6; */
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 0 auto;
  padding: 15px;
  min-width: 70%;
}
.generalLinePanel > div:nth-child(1), .generalPiesPanel > div:nth-child(1) {
  position: absolute;
  left: 40px;
  z-index: 100;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.generalLinePanel > div:nth-child(2) {
  line-height: 15px;
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 10px;
}
.generalLinePanel {
  overflow-x: hidden;
}

.generalPiesPanel {
  overflow: hidden;
  margin: 10px auto;
}
.generalPiesPanel > div:nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.generalPiesPanel > div:nth-child(2) > div {
  width: 33.3%;
  /* -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex; */
  display: inline-block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.generalPiesPanel > div:nth-child(2) > div > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.generalPiesPanel > div:nth-child(2) > div > div:nth-child(1) {
  width: 100%;
  height: auto;
  min-height: 240px;
}

/* 充电桩首页样式 ------------------------------------- */
.round.border-red {
  border: 5px solid #FA503C !important;
}
.lot-info-red {
  background: #FA503C !important;
}
.lot-info-orange {
  background: #FFA000 !important;
  border: none !important;
}
.lot-info-green {
  background: #32C878 !important;
  border: none !important;
}
.hour-bg {
  background: url("../img/icon_hour.png") no-repeat !important;
  width: 68px !important;
  height: 62px !important;
  transform: scale(0.8);
}


/* 分页样式 --------------------------------------------------------------*/
.page-container {
  overflow: hidden;
  margin: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#page_size {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0 2%;
}
.page .page-l {
  float: left;
  margin-right: 6px;
}
#first_page,
#last_page {
  display: none;
}
.page .page-l > span {
  display: block;
  height: 30px;
  line-height: 30px;
}
.page .page-l select {
  width: 60px;
  height: 30px;
}
.page .page-l .page-size-box {
  display: inline-block;
  margin-left: 20px;
}
.page .page-r {
  padding-top: 10px;
}
.page .page-r ul {
  float: left;
  list-style: none;
  margin: 0;
  height: 30px;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
.page .page-r ul li {
  float: left;
  list-style: none;
  height: 100%;
  line-height: 30px;
  border: 0px solid #ccc;
  border-right: 0 none;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 30px;
}
.page .page-r ul li a:hover {
  background-color: #f5f2f2;
}
.page .page-r ul li:last-child {
  border-right: 0px solid #ccc;
}
.page .page-r ul li a {
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 0 10px;
  color: #777;
}
.page .page-r ul li a.active {
  background-color: #5a82f0;
  color: white;
}
.page .page-r ul li span {
  display: block;
  height: 100%;
  padding: 0 10px;
  color: #ccc;
  cursor: not-allowed;
}
.page .page-r ul li span.ellipsis {
  cursor: default;
}
.page .page-size-box span,
.page .page-size-box select {
  display: inline-block;
}