.popup .navbar .title {
  width: 100%;
  text-align: left !important;

  /* position: absolute !important; */
  font-size: 16px;
  color: #000 !important;
  font-weight: 600;
  letter-spacing: 1px;
}
